<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhx.mapper.AreaDicMapper">
  <resultMap id="BaseResultMap" type="com.xhx.entity.AreaDic">
    <!--@mbg.generated-->
    <!--@Table itrip_area_dic-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="area_no" property="areaNo" />
    <result column="parent" property="parent" />
    <result column="is_activated" property="isActivated" />
    <result column="is_trading_area" property="isTradingArea" />
    <result column="is_hot" property="isHot" />
    <result column="level" property="level" />
    <result column="is_china" property="isChina" />
    <result column="pinyin" property="pinyin" />
    <result column="creation_date" property="creationDate" />
    <result column="created_by" property="createdBy" />
    <result column="modify_date" property="modifyDate" />
    <result column="modified_by" property="modifiedBy" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, area_no, parent, is_activated, is_trading_area, is_hot, `level`, is_china, 
    pinyin, creation_date, created_by, modify_date, modified_by, is_deleted
  </sql>
</mapper>