<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhx.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.xhx.entity.Comment">
    <!--@mbg.generated-->
    <!--@Table itrip_comment-->
    <id column="id" property="id" />
    <result column="hotel_id" property="hotelId" />
    <result column="product_id" property="productId" />
    <result column="order_id" property="orderId" />
    <result column="product_type" property="productType" />
    <result column="content" property="content" />
    <result column="user_id" property="userId" />
    <result column="is_having_img" property="isHavingImg" />
    <result column="position_score" property="positionScore" />
    <result column="facilities_score" property="facilitiesScore" />
    <result column="service_score" property="serviceScore" />
    <result column="hygiene_score" property="hygieneScore" />
    <result column="score" property="score" />
    <result column="trip_mode" property="tripMode" />
    <result column="is_ok" property="isOk" />
    <result column="creation_date" property="creationDate" />
    <result column="created_by" property="createdBy" />
    <result column="modify_date" property="modifyDate" />
    <result column="modified_by" property="modifiedBy" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotel_id, product_id, order_id, product_type, content, user_id, is_having_img, 
    position_score, facilities_score, service_score, hygiene_score, score, trip_mode, 
    is_ok, creation_date, created_by, modify_date, modified_by, is_deleted
  </sql>
</mapper>