<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhx.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.xhx.entity.Image">
    <!--@mbg.generated-->
    <!--@Table itrip_image-->
    <id column="id" property="id" />
    <result column="type" property="type" />
    <result column="target_id" property="targetId" />
    <result column="position" property="position" />
    <result column="img_url" property="imgUrl" />
    <result column="creation_date" property="creationDate" />
    <result column="created_by" property="createdBy" />
    <result column="modify_date" property="modifyDate" />
    <result column="modified_by" property="modifiedBy" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, target_id, `position`, img_url, creation_date, created_by, modify_date, 
    modified_by, is_deleted
  </sql>
</mapper>