<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhx.mapper.OrderLinkUserMapper">
  <resultMap id="BaseResultMap" type="com.xhx.entity.OrderLinkUser">
    <!--@mbg.generated-->
    <!--@Table itrip_order_link_user-->
    <id column="id" property="id" />
    <result column="order_id" property="orderId" />
    <result column="link_user_id" property="linkUserId" />
    <result column="link_user_name" property="linkUserName" />
    <result column="creation_date" property="creationDate" />
    <result column="created_by" property="createdBy" />
    <result column="modify_date" property="modifyDate" />
    <result column="modified_by" property="modifiedBy" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, link_user_id, link_user_name, creation_date, created_by, modify_date, 
    modified_by, is_deleted
  </sql>
</mapper>